*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	min-height: 100vh;

}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.grid{
	width: 70%;
	margin: 0 auto;
	min-height: inherit;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 10px;
	/*grid-template-columns: repeat(auto-fit, minmax(150px,1fr) ); 
	grid-template-rows: repeat(3, 200px);
	grid-gap: 10px;
	justify-content: center;*/
}
article{
	padding: 10px
}
.item1, .item4{
	grid-column: span 5
}
.item2{
	grid-column: span 3;
}
.item3{
	grid-column: span 2;
}
.backhroud{
	background-color: red;
}